VITE_BACKEND_FRAMEWORK=ASP.NET
VITE_API_BASE_URL=http://your-aspnet-url:port

(or)

VITE_BACKEND_FRAMEWORK=laravel
VITE_API_BASE_URL=http://your-laravel-url:port


TEST_CLIENT_URL=http://your-frontend:port